<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         id="INAWebApp"
         version="5.0">

    <display-name>INA Web-App</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>hello</servlet-name>
        <display-name>Hello</display-name>
        <servlet-class>de.whs.ni37900.ina.praktikum.inawebapp.controlers.hello.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>feed-list</servlet-name>
        <display-name>Add Feed</display-name>
        <servlet-class>de.whs.ni37900.ina.praktikum.inawebapp.controlers.feed.ListFeedsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>feed-list</servlet-name>
        <url-pattern>/feed/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>feed-edit</servlet-name>
        <display-name>Edit Feed</display-name>
        <servlet-class>de.whs.ni37900.ina.praktikum.inawebapp.controlers.feed.edit.EditFeedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>feed-edit</servlet-name>
        <url-pattern>/feed/edit/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>feed-delete</servlet-name>
        <display-name>Edit Feed</display-name>
        <description>This is a workaround as forms do not support DELETE methode</description>
        <servlet-class>de.whs.ni37900.ina.praktikum.inawebapp.controlers.feed.edit.DeleteFeedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>feed-delete</servlet-name>
        <url-pattern>/feed/edit/delete</url-pattern>
    </servlet-mapping>

</web-app>